<h1>Sign up</h1>
<form action="/user/signup" method="POST">
    <lable>Email</lable>
    <input type="email" required name="email">
    <label>Password</label>
    <input type="password" required name="password">
    <label>username:</label>
    <input type="text" required name="username">

    <button type="submit"> Sign up </button>
    
</form>



{{!-- 
    req.body = {
       email :"perro@demo.com",
       password: "Nova182"         <------ name  is very important because it will reflect the req.body so it has to match
    }
            input always have to have name, otherwise it will never go to the backend 
 --}}


{{!-- action is the route to where it will send the request (req) --}}
{{!-- method is the verb http uses--}}