<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recap</title>
</head>
<body>
    <header>
        <nav> -top part- Good place for a global navbar here</nav> 
    </header>

    <main>
       -middle part-
        {{{body}}}
    </main>

    {{!-- everything here will be global so it will appear everywhere, in every single view so if you need something to just appear in a single view then do it there instead of here  --}}

    <footer>-bottom part- Good place for a global footer</footer>
</body>
</html>
